<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cloudwebrtc.flutterincallmanager">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
</manifest>
